In [2]:
import pandas as pd
import json
import gzip
import os

In [90]:
path ="../../archivos/metadata.json.gz"
import json
import gzip
def parse(path):
#Abrir gzip
    g = gzip.open(path, 'r')
    for l in g:
        yield eval(l)

#Convertir a  json estricto
def parse(path):
    g = gzip.open(path, 'r')
    for l in g:
        yield json.dumps(eval(l))
    f = open("output.strict", 'w')
    for l in parse("archivos\metadata.json.gz"):
        f.write(l + '\n')

#Pandas data frame
import pandas as pd
import gzip
def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)
def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

df = getDF('../../archivos/metadata.json.gz')

In [3]:
df2= df.drop(columns=['price','title','imUrl','description','brand'],inplace=True)

In [9]:
df.to_csv("../../archivos_csv/metadata_model.csv")

In [15]:
amazon_instant_video = pd.read_json("../../archivos/Amazon_Instant_Video_5.json", lines=True)
apps_for_android = pd.read_json("../../archivos/Apps_for_Android_5.json", lines=True)
automotive = pd.read_json("../../archivos/Automotive_5.json", lines=True)
baby = pd.read_json("../../archivos/Baby_5.json", lines=True)
beauty = pd.read_json("../../archivos/Beauty_5.json", lines=True)
books = pd.read_json("../../archivos/Books_5.json", lines=True)
cellphones_and_accesories = pd.read_json("../../archivos/Cell_Phones_and_Accessories_5.json", lines=True)
cds_and_vinyl = pd.read_json("../../archivos/CDs_and_Vinyl_5.json", lines=True)
digital_music = pd.read_json("../../archivos/Digital_Music_5.json", lines=True)
electronics = pd.read_json("../../archivos/Electronics_5.json", lines=True)
grocery_and_gourmet_food = pd.read_json("../../archivos/Grocery_and_Gourmet_Food_5.json", lines=True)
health_and_personal_care = pd.read_json("../../archivos/Health_and_Personal_Care_5.json", lines=True)
home_and_kitchen = pd.read_json("../../archivos/Home_and_Kitchen_5.json", lines=True)
kindle_store = pd.read_json("../../archivos/Kindle_Store_5.json", lines=True)
movies_and_tv = pd.read_json("../../archivos/Movies_and_TV_5.json", lines=True)
instruments = pd.read_json("../../archivos/Musical_Instruments_5.json", lines=True)
office_products = pd.read_json("../../archivos/Office_Products_5.json", lines=True)
patio_lawn_and_garden = pd.read_json("../../archivos/Patio_Lawn_and_Garden_5.json", lines=True)
pet_supplies = pd.read_json("../../archivos/Pet_Supplies_5.json", lines=True)
sports_and_outdoors = pd.read_json("../../archivos/Sports_and_Outdoors_5.json", lines=True)
tools_and_home_improvement = pd.read_json("../../archivos/Tools_and_Home_Improvement_5.json", lines=True)
toys_and_games = pd.read_json("../../archivos/Toys_and_Games_5.json", lines=True)
clothing_shoes_and_jewerly = pd.read_json("../../archivos/Clothing_Shoes_and_Jewelry_5.json", lines=True)
video_Games = pd.read_json("../../archivos/Video_Games_5.json", lines=True)

In [3]:
#drop undesired d
dropear=['reviewerName','reviewerID','reviewText','summary','unixReviewTime','reviewTime']
apps_for_android.drop(dropear, axis=1, inplace=True)
automotive.drop(dropear, axis=1, inplace=True)
baby.drop(dropear, axis=1, inplace=True)
beauty.drop(dropear, axis=1, inplace=True)
books.drop(dropear, axis=1, inplace=True)
cellphones_and_accesories.drop(dropear, axis=1, inplace=True)
cds_and_vinyl.drop(dropear, axis=1, inplace=True)
digital_music.drop(dropear, axis=1, inplace=True)
electronics.drop(dropear, axis=1, inplace=True)
grocery_and_gourmet_food.drop(dropear, axis=1, inplace=True)
health_and_personal_care.drop(dropear, axis=1, inplace=True)
home_and_kitchen.drop(dropear, axis=1, inplace=True)
kindle_store.drop(dropear, axis=1, inplace=True)
movies_and_tv.drop(dropear, axis=1, inplace=True)
instruments.drop(dropear, axis=1, inplace=True)
office_products.drop(dropear, axis=1, inplace=True)
patio_lawn_and_garden.drop(dropear, axis=1, inplace=True)
pet_supplies.drop(dropear, axis=1, inplace=True)
sports_and_outdoors.drop(dropear, axis=1, inplace=True)
tools_and_home_improvement.drop(dropear, axis=1, inplace=True)
toys_and_games.drop(dropear, axis=1, inplace=True)
clothing_shoes_and_jewerly.drop(dropear, axis=1, inplace=True)
video_Games.drop(dropear, axis=1, inplace=True)

In [4]:
#convert to csv
amazon_instant_video.to_csv("../../archivos_csv/Amazon_Instant_Video.csv")
apps_for_android.to_csv("../../archivos_csv/Apps_for_Android.csv")
automotive.to_csv("../../archivos_csv/Automotive.csv")
baby.to_csv("../../archivos_csv/Baby.csv")
beauty.to_csv("../../archivos_csv/Beauty.csv")
books.to_csv("../../archivos_csv/Books.csv")
cellphones_and_accesories.to_csv("../../archivos_csv/Cell_Phones_and_Accessories.csv")
cds_and_vinyl.to_csv("../../archivos_csv/CDs_and_Vinyl.csv")
digital_music.to_csv("../../archivos_csv/Digital_Music.csv")
electronics.to_csv("../../archivos_csv/Electronics.csv")
grocery_and_gourmet_food.to_csv("../../archivos_csv/Grocery_and_Gourmet_Food.csv")
health_and_personal_care.to_csv("../../archivos_csv/Health_and_Personal_Care.csv")
home_and_kitchen.to_csv("../../archivos_csv/Home_and_Kitchen.csv")
kindle_store.to_csv("../../archivos_csv/Kindle_Store.csv")
movies_and_tv.to_csv("../../archivos_csv/Movies_and_TV.csv")
instruments.to_csv("../../archivos_csv/Musical_Instruments.csv")
office_products.to_csv("../../archivos_csv/Office_Products.csv")
patio_lawn_and_garden.to_csv("../../archivos_csv/Patio_Lawn_and_Garden.csv")
pet_supplies.to_csv("../../archivos_csv/Pet_Supplies.csv")
sports_and_outdoors.to_csv("../../archivos_csv/Sports_and_Outdoors.csv")
tools_and_home_improvement.to_csv("../../archivos_csv/Tools_and_Home_Improvement.csv")
toys_and_games.to_csv("../../archivos_csv/Toys_and_Games.csv")
clothing_shoes_and_jewerly.to_csv("../../archivos_csv/Clothing_Shoes_and_Jewelry.csv")
video_Games.to_csv("../../archivos_csv/Video_Games.csv")

In [ ]:
amazon_instant_video = pd.read_csv("../../archivos_csv/Amazon_Instant_Video.csv")
apps_for_android = pd.read_csv("../../archivos_csv/Apps_for_Android.csv")
automotive = pd.read_csv("../../archivos_csv/Automotive.csv")
baby = pd.read_csv("../../archivos_csv/Baby.csv")
beauty = pd.read_csv("../../archivos_csv/Beauty.csv")
books = pd.read_csv("../../archivos_csv/Books.csv")
cellphones_and_accesories = pd.read_csv("../../archivos_csv/Cell_Phones_and_Accessories.csv")
cds_and_vinyl = pd.read_csv("../../archivos_csv/CDs_and_Vinyl.csv")
digital_music = pd.read_csv("../../archivos_csv/Digital_Music.csv")
electronics = pd.read_csv("../../archivos_csv/Electronics.csv")
grocery_and_gourmet_food = pd.read_csv("../../archivos_csv/Grocery_and_Gourmet_Food.csv")
health_and_personal_care = pd.read_csv("../../archivos_csv/Health_and_Personal_Care.csv")
home_and_kitchen = pd.read_csv("../../archivos_csv/Home_and_Kitchen.csv")
kindle_store = pd.read_csv("../../archivos_csv/Kindle_Store.csv")
movies_and_tv = pd.read_csv("../../archivos_csv/Movies_and_TV.csv")
instruments = pd.read_csv("../../archivos_csv/Musical_Instruments.csv")
office_products = pd.read_csv("../../archivos_csv/Office_Products.csv")
patio_lawn_and_garden = pd.read_csv("../../archivos_csv/Patio_Lawn_and_Garden.csv")
pet_supplies = pd.read_csv("../../archivos_csv/Pet_Supplies.csv")
sports_and_outdoors = pd.read_csv("../../archivos_csv/Sports_and_Outdoors.csv")
tools_and_home_improvement = pd.read_csv("../../archivos_csv/Tools_and_Home_Improvement.csv")
toys_and_games = pd.read_csv("../../archivos_csv/Toys_and_Games.csv")
clothing_shoes_and_jewerly = pd.read_csv("../../archivos_csv/Clothing_Shoes_and_Jewelry.csv")
video_Games = pd.read_csv("../../archivos_csv/Video_Games.csv")
metadata = pd.read_csv("../../archivos_csv/metadata.csv")

In [3]:
metadata = pd.read_csv("../../archivos_csv/metadata_model.csv")

In [9]:
movies_and_tv.head(3)

         asin helpful  overall
0  0005019281  [0, 0]        4
1  0005019281  [0, 0]        3
2  0005019281  [0, 0]        3

In [96]:
import pandas as pd
from ast import literal_eval
import numpy as np


# check the type of the first value in Pollutants
>>> print(type(df.iloc[0, 1]))
<class 'str'>

# replace NaN with '{}' if the column is strings, otherwise replace with {}
df.Pollutants = df.Pollutants.fillna('{}')  # if the NaN is in a column of strings
# df.Pollutants = df.Pollutants.fillna({i: {} for i in df.index})  # if the column is not strings

# Convert the column of stringified dicts to dicts
# skip this line, if the column contains dicts
df.Pollutants = df.Pollutants.apply(literal_eval)

# reset the index if the index is not unique integers from 0 to n-1
# df.reset_index(inplace=True)  # uncomment if needed

# remove and normalize the column of dictionaries, and join the result to df
df = df.join(pd.json_normalize(df.pop('Pollutants')))

# display(df)
   Station ID    a    b    c
0        8809   46    3   12
1        8810   36    5    8
2        8811  NaN    2    7
3        8812  NaN  NaN   11
4        8813   82  NaN   15
5        8814  NaN  NaN  NaN

In [5]:
df = metadata.copy()

In [6]:
print(type(df.iloc[0, 1]))

<class 'str'>

In [7]:
df.related = df.related.fillna('{}')

In [10]:
from ast import literal_eval
df.related = df.related.apply(literal_eval)

In [13]:
df.reset_index(inplace=True)

In [16]:
df = df.join(pd.json_normalize(df.pop('related')))

In [19]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.head()

,index,asin,salesRank,categories,also_viewed,buy_after_viewing,also_bought,bought_together
0,0,0001048791,{'Books': 6334800},[['Books']],NaN,NaN,NaN,NaN
1,1,0000143561,{'Movies & TV': 376041},"[['Movies & TV', 'Movies']]","[B0036FO6SI, B000KL8ODE, 000014357X, B0037718R...","[B0036FO6SI, B000KL8ODE, 000014357X, B0037718RC]",NaN,NaN
2,2,0000037214,{'Clothing': 1233557},"[['Clothing, Shoes & Jewelry', 'Girls'], ['Clo...","[B00JO8II76, B00DGN4R1Q, B00E1YRI4C]",NaN,NaN,NaN
3,3,0000032069,NaN,"[['Sports & Outdoors', 'Other Sports', 'Dance'...","[B00D0F450I, 0000032050, B00D2JTMS2, 000003204...",NaN,"[0000032050, B00D0DJAEG, 0000032042, B00D0F450...","[0000032050, B00D0DJAEG, 0000032042, B00D0F450I]"
4,4,0000031909,{'Toys & Games': 201847},"[['Sports & Outdoors', 'Other Sports', 'Dance']]","[B002BZX8Z6, B00JHONN1S, B008F0SU0Y, B00E1YRI4...",NaN,"[B002BZX8Z6, B00JHONN1S, 0000031895, B00D2K1M3...",[B002BZX8Z6]

In [36]:
df.to_csv("archivos_csv/../../metadata_model_2.csv")

In [31]:
df2 =df[['index','asin']]

In [38]:
df2.to_csv("archivos_csv/../../metadata_asin_index.csv")

In [33]:
df2['asin'].nunique()

9430088

In [77]:
#df3 = df.copy()
#df3['categories'] = df3['categories'].str.replace('[','')
#df3['categories'] = df3['categories'].str.replace(']','')
#df3['categories'] = df3['categories'].str.replace(']','')
#df3['categories'] = df3['categories'].str.replace("'",'')
#df3['salesRank'] = df3['salesRank'].str.replace("{",'')
#df3['salesRank'] = df3['salesRank'].str.replace("}",'')
#df3['salesRank'] = df3['salesRank'].str.replace("'",'')
#df3['also_viewed'] = df3['also_viewed'].str.replace("[",'')
#df3['also_viewed'] = df3['also_viewed'].str.replace("]",'')
#df3['buy_after_viewing'] = df3['buy_after_viewing'].str.replace("[",'')
#df3['buy_after_viewing'] = df3['buy_after_viewing'].str.replace("]",'')
df3['also_bought'] = df3['also_bought'].replace('[','')
df3['also_bought'] = df3['also_bought'].replace(']','')
#df3['bought_together'] = df3['bought_together'].str.replace("[",'')
#df3['bought_together'] = df3['bought_together'].str.replace("]",'')

In [88]:
df3 = df3.astype({"a": int, "b": complex})

<class 'numpy.float64'>

In [89]:
df3

,index,asin,salesRank,categories,also_viewed,buy_after_viewing,also_bought,bought_together
0,0,0001048791,Books: 6334800,Books,NaN,NaN,NaN,NaN
1,1,0000143561,Movies & TV: 376041,"Movies & TV, Movies",NaN,"[B0036FO6SI, B000KL8ODE, 000014357X, B0037718RC]",NaN,NaN
2,2,0000037214,Clothing: 1233557,"Clothing, Shoes & Jewelry, Girls, Clothing, Sh...",NaN,NaN,NaN,NaN
3,3,0000032069,NaN,"Sports & Outdoors, Other Sports, Dance, Clothi...",NaN,NaN,NaN,NaN
4,4,0000031909,Toys & Games: 201847,"Sports & Outdoors, Other Sports, Dance",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9430083,9430083,B00LZFHL7Y,NaN,"Books, Literature & Fiction, Erotica, Kindle S...",NaN,"[B00LDD8NDO, B00KLBHX44, B00JS9YJPQ, B00LADEH0U]",NaN,NaN
9430084,9430084,B00LV8M74W,NaN,"Books, Literature & Fiction, Genre Fiction, Me...",NaN,[B004Q3RTXS],NaN,NaN
9430085,9430085,B00LXQXLGU,NaN,Amazon Instant Video,NaN,NaN,NaN,NaN
9430086,9430086,B00LV8STE4,NaN,"Books, Arts & Photography, Music, Musical Genr...",NaN,NaN,NaN,NaN
9430087,9430087,SMLRBIMX03,Musical Instruments: 107527,"Musical Instruments, Instrument Accessories, G...",NaN,"[B003SRHFIW, B003VXNPN2, B001E95KJC]",NaN,NaN

### Llegado este punto realizo que podemos realizar un sistema de recomendacion implicito atraves del tiempo de reseña  de los productos. Lo cual podria llevar a mejores tazas de conversion que un sistema explicito sobre los related.

In [ ]:
df.head(3).to_csv("../../archivos_no_data/Amazon_Instant_Video.csv")

In [11]:
amazon_instant_video.head(3).to_csv("../../archivos_no_data/Amazon_Instant_Video.csv")
apps_for_android.head(3).to_csv("../../archivos_no_data/Apps_for_Android.csv")
automotive.head(3).to_csv("../../archivos_no_data/Automotive.csv")
baby.head(3).to_csv("../../archivos_no_data/Baby.csv")
beauty.head(3).to_csv("../../archivos_no_data/Beauty.csv")
books.head(3).to_csv("../../archivos_no_data/Books.csv")
cellphones_and_accesories.head(3).to_csv("../../archivos_no_data/Cell_Phones_and_Accessories.csv")
cds_and_vinyl.head(3).to_csv("../../archivos_no_data/CDs_and_Vinyl.csv")
digital_music.head(3).to_csv("../../archivos_no_data/Digital_Music.csv")
electronics.head(3).to_csv("../../archivos_no_data/Electronics.csv")
grocery_and_gourmet_food.head(3).to_csv("../../archivos_no_data/Grocery_and_Gourmet_Food.csv")
health_and_personal_care.head(3).to_csv("../../archivos_no_data/Health_and_Personal_Care.csv")
home_and_kitchen.head(3).to_csv("../../archivos_no_data/Home_and_Kitchen.csv")
kindle_store.head(3).to_csv("../../archivos_no_data/Kindle_Store.csv")
movies_and_tv.head(3).to_csv("../../archivos_no_data/Movies_and_TV.csv")
instruments.head(3).to_csv("../../archivos_no_data/Musical_Instruments.csv")
office_products.head(3).to_csv("../../archivos_no_data/Office_Products.csv")
patio_lawn_and_garden.head(3).to_csv("../../archivos_no_data/Patio_Lawn_and_Garden.csv")
pet_supplies.head(3).to_csv("../../archivos_no_data/Pet_Supplies.csv")
sports_and_outdoors.head(3).to_csv("../../archivos_no_data/Sports_and_Outdoors.csv")
tools_and_home_improvement.head(3).to_csv("../../archivos_no_data/Tools_and_Home_Improvement.csv")
toys_and_games.head(3).to_csv("../../archivos_no_data/Toys_and_Games.csv")
clothing_shoes_and_jewerly.head(3).to_csv("../../archivos_no_data/Clothing_Shoes_and_Jewelry.csv")
video_Games.head(3).to_csv("../../archivos_no_data/Video_Games.csv")
metadata.head(3).to_csv("../../archivos_no_data/metadata_model.csv")

### El sistema de recomendacion va orientado hacia usuarios nuevos (Inicio en frio). Debido a esto el sistema sera hibrido teniendo en cuenta a usuarios anteriores pero sobretodo considerando la correlacion entre los productos. Algoritmo a probar factorizacion de matriz.